html, body { margin: 0; padding: 1em; }

body, input { font-family: helvetica, arial, freesans, clean, sans-serif; }
h1 {  }

footer {
	clear: both;
	font-size: smaller;
	font-style: italic;
}

form { clear: both; }

fieldset { padding: 2em; width: 26em; }

fieldset div {
	clear: both;
	margin-bottom: 0.5em;
}

label { 
	display: block;
	float: left;
	line-height: 2.5em;
	width: 8em;
}

input { 
	padding: 0.5em;
}

input[type=text] {
	display: block;
	font-size: 1em;
	width: 16em;
}

input[type=button],
input[type=submit] {
	clear: both;
	background: #EEE;
	border-radius: .5em;
	-moz-border-radius: .5em;
	font-size: 1em;
	margin-left: 8em;
}

input[type=button] { float: left; }

#ListCommits { clear: left; }
#ShowTestCommit { clear: none; margin-left: 1em; }

#LastUpdated {
	float: left;
	font-style: italic;
	margin: 0 1.5em 1.5em 1.5em;
}

#Commits {
	background: #DDD;
	padding: 1em 2em;
}

#Commits .Unread {
	background: hsl(60, 85%, 50%);
}

#Commits .Unread .Author {
	background: hsl(60, 65%, 50%);
}

#RepositoryLink {
	clear: both;
	display: block;
}

ul li {
	border-bottom: 1px black dashed;
	clear: both;
	list-style: none;
	padding: 1em 0;
	width: 100%;
}

ul li:hover {
	background: #EEE;
}

section {
	border: #DDD solid thin;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

ul,
ul li,
.Author,
.Author img,
.Committer {
	float: left;
}

.Author img.Profile { margin: 0 1em 1em 0; }

.Author,
.Commit {
	font-size: .75em;
}

.Author {
	background-color: #CCC;
	margin-right: 1em;
	padding: 1em;
	width: 200px;
}

.CommitterProfile {
	position: relative;
	left: -2.5em;
	top: 2.5em;
	display: inline;
	margin-right: -2.5em;
}

.Commit { float:right; margin: 0 1em 1em; }

.Message { width: 50em; }